* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  background-color: rgb(255, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-size: 1.25rem;
}

.App{
  width: 1200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px 0px rgba(197, 195, 195, 0.3);
}



